In [1]:
import pandas as pd
import sqlite3
import math
import datetime 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [2]:
conn = sqlite3.connect('database.db')

In [3]:
c = conn.cursor()

# Desain Database Data Warehouse
<img src="Desain Database.png">

In [4]:
c.executescript('drop table if exists customer')
c.executescript('drop table if exists produk')
c.executescript('drop table if exists transaksi')
c.execute("CREATE TABLE IF NOT EXISTS 'customer' ('id' INT, 'nama_cust' VARCHAR(255) NULL, 'nama_kota' VARCHAR(255) NULL, PRIMARY KEY ('id'))")
c.execute("CREATE TABLE IF NOT EXISTS 'produk' ('id' INT, 'nama_produk' VARCHAR(255) NULL, PRIMARY KEY ('id'))")
c.execute("CREATE TABLE IF NOT EXISTS 'transaksi' ('id', 'tanggal_transaksi' DATE NULL, 'quantity' INT NULL, 'customer_id' INT NOT NULL, 'produk_id' INT NOT NULL, PRIMARY KEY ('id'), FOREIGN KEY ('customer_id') REFERENCES 'customer' ('id') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('produk_id') REFERENCES 'produk' ('id') ON DELETE NO ACTION ON UPDATE NO ACTION)")

In [10]:
df = pd.read_csv("Superstore Sales 2015-2018.csv")
df

,Tanggal Transaksi,Quantity,Nama Customer,Nama Kota,Nama Produk
0,08/11/2017,2,Claire Gute,Henderson,Bush Somerset Collection Bookcase
1,08/11/2017,3,Claire Gute,Henderson,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,12/06/2017,4,Darrin Van Huff,Los Angeles,Self-Adhesive Address Labels for Typewriters b...
3,11/10/2016,3,Sean O'Donnell,Fort Lauderdale,Bretford CR4500 Series Slim Rectangular Table
4,11/10/2016,5,Sean O'Donnell,Fort Lauderdale,Eldon Fold 'N Roll Cart System
...,...,...,...,...,...
495,27/12/2016,1,Maribeth Dona,Fayetteville,"Strathmore #10 Envelopes, Ultimate White"
496,25/07/2017,6,Sanjit Chand,Costa Mesa,Clear Mylar Reinforcing Strips
497,25/07/2017,2,Sanjit Chand,Costa Mesa,"Howard Miller 14-1/2"" Diameter Chrome Round Wa..."
498,25/07/2017,6,Sanjit Chand,Costa Mesa,DMI Arturo Collection Mission-style Design Woo...
499,25/07/2017,6,Sanjit Chand,Costa Mesa,Deflect-O Glasstique Clear Desk Accessories

In [18]:
customer = []
transaksi = []
produk = []

for i,j in df.iterrows():
    if j[2] not in customer:
        customer.append(j[2])
        
    k = -1
    for index, values in enumerate(customer):
        if values == j[2]:
            k = index+1
            break
        
    if [j[4]] not in produk:
        produk.append([j[4]])

    p = -1
    for index, values in enumerate(produk):
        if values[0] == j[4]:
            p = index+1
            break

    if [j[0], j[1], k, p] not in transaksi:
        transaksi.append([j[0], j[1], k, p])

In [3]:
c.execute("DELETE FROM PRODUK")
for index, i in enumerate(produk):
    c.execute("INSERT INTO PRODUK ({}, '{}')".format(index, i))
    
c.execute("DELETE FROM CUSTOMER")
for index, i in enumerate(customer):
    c.execute("INSERT INTO CUSTOMER ({}, '{}','{}')".format(index, i[0],i[1]))

c.execute("DELETE FROM TRANSAKSI")
for index, i in enumerate(transaksi):
    c.execute("INSERT INTO TRANSAKSI ({}, '{}','{}','{}','{}')".format(index, i[0],i[1],i[2],i[3]))

conn.commit()

NameError: name 'c' is not defined